.faqContainer {
  width: 90%;
  max-width: clamp(600px, 55vw, 900px);
  margin: 0 auto;
  padding-top: clamp(24px, 3vw, 50px);
}

.faqItem {
  border-bottom: 1px solid #ccc;
  padding: clamp(8px, 0.8vw, 14px) 0;
}

a {
  color: #433982;
  text-decoration: underline;
}

.faqQuestion {
  width: 100%;
  text-align: left;
  background: none;
  border: none;
  font-size: clamp(16px, 1.3vw, 22px);
  font-weight: 500;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #433982;
}

.faqAnswer {
  margin-top: 10px;
  padding-left: 10px;
  font-size: clamp(14px, 1.1vw, 19px);
  color: #8b9ab0;
  line-height: 1.6;
}

.faqIcon {
  font-weight: bold;
  margin-left: 10px;
  font-size: clamp(16px, 1.3vw, 22px);
}

@media (max-width: 480px) {
  .faqContainer {
    padding-top: 20px;
  }

  .faqQuestion {
    font-size: 1rem;
  }

  .faqAnswer {
    font-size: 0.95rem;
    padding-left: 5px;
  }

  .faqIcon {
    margin-left: 5px;
  }
}
