.page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 2%;
}

.title {
  text-align: center;
  font-size: clamp(24px, 2.5vw, 42px);
  color: #c5adc5;
  font-weight: 600;
}

.description {
  margin: 2% 4%;
  font-size: clamp(18px, 1.2vw, 22px);
  color: #8b9ab0;
}
.content :global(.description) {
  font-size: clamp(16px, 1.4vw, 24px);
}
.images {
  margin: 2% 4%;
}

.hero {
  position: relative;
  width: 100%;
  height: 95vh;
  overflow: hidden;
}

.block {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.arch {
  width: clamp(250px, 22vw, 400px);
  height: clamp(320px, 28vw, 520px);
  border-radius: 330px 330px 0 0;
  background: rgb(234, 222, 234);
  background: linear-gradient(
    180deg,
    rgba(234, 222, 234, 1) 0%,
    rgba(178, 181, 223, 0) 100%
  );
}

.visual {
  flex: 1;
  position: relative;
  margin-left: 7%;
  margin-bottom: 180px;
}

.imgWrapper {
  position: absolute;
  width: clamp(300px, 30vw, 550px);
  height: clamp(380px, 38vw, 680px);
  left: 10%;
  border-radius: 5%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.content {
  position: relative;
  flex: 1;
  margin-top: 7%;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  margin-bottom: 5%;
  overflow: hidden;
}

.btn {
  text-decoration: none;
  background-color: #433982;
  color: white;
  border-radius: 100px;
  font-size: clamp(15px, 1.4vw, 26px);
  font-weight: 300;
  padding: clamp(10px, 1.1vw, 20px) clamp(20px, 1.8vw, 40px);
  border: none;
  outline: none;
  display: inline-block;
  margin-top: 8px;
}

.link {
  color: #c5adc5;
  text-decoration: underline;
  cursor: pointer;
}

.arches {
  display: flex;
  justify-content: space-between;
  margin: 4% 10%;
  gap: 0.8rem;
}

@media screen and (max-width: 830px) {
  .block {
    text-align: center;
    align-items: center;
    flex-direction: column;
  }

  .imgWrapper {
    top: 10%;
    left: 0;
  }

  .content {
    margin: 0 5%;
    text-align: center;
    align-items: center;
  }

  .visual {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 30%;
  }

  .description {
    margin-bottom: 5%;
  }

  .btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    margin-bottom: 15%;
  }

  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 8% 2%;
  }

  .arches {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

@media screen and (min-width: 1400px) {
  .content {
    margin-top: 10%;
    margin-right: 8%;
  }

  .visual {
    margin-left: 5%;
  }

  .arches {
    margin: 4% 12%;
  }
}
