.page {
  width: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.secondary {
  width: 100%;
  margin: 5% 0;
}
.arch {
  width: 350px;
  height: 450px;
  border-radius: 330px 330px 0 0;
  background: rgb(234, 222, 234);
  background: linear-gradient(
    180deg,
    rgba(234, 222, 234, 1) 0%,
    rgba(178, 181, 223, 0) 100%
  );
}

.visual {
  flex: 1;
  position: relative;
  margin-left: 7%;
  margin-bottom: 180px;
  margin-top: 10px;
}

.imgWrapper {
  position: absolute;
  width: 350px;
  height: 450px;
  top: 18%;
  left: 18%;
  border-radius: 5%;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5%;
}

.content {
  position: relative;
  flex: 1;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
  margin-bottom: 5%;
  overflow: hidden;
}

.description {
  font-size: 18px;
  margin-bottom: 42px;
  margin-right: 15%;
  color: #8b9ab0;
  margin-top: 5%;
}

.highlight {
  font-family: "SantaCatalina", sans-serif;
  color: #c5adc5;
  margin-top: 10%;
}

.sticker {
  position: absolute;
  top: 28%;
  right: 11%;
}

.photo {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.title2 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  color: #433982;
}

.blob {
  position: absolute;
  top: 95%;
  left: 85%;
  transform: translateX(-50%);
  border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  background: linear-gradient(
    0deg,
    rgba(197, 173, 197, 1) 0%,
    rgba(178, 181, 223, 1) 90%
  );
  width: 400px;
  height: 400px;
  box-shadow:
    inset 50px 50px 17px 0px #eadeea,
    inset 100px 100px 17px 0px #b2b5df;
  opacity: 0.5;
  filter: blur(100px);
  z-index: -1;
}

.blob2 {
  position: absolute;
  top: 150%;
  left: 7%;
  border-radius: 60% 40% 30% 70% / 100% 85% 92% 74%;
  background: linear-gradient(
    180deg,
    rgba(197, 173, 197, 1) 100%,
    rgba(178, 181, 223, 1) 0%
  );
  width: 300px;
  height: 300px;
  box-shadow:
    inset 50px 50px 17px 0px #b2b5df,
    inset 100px 100px 17px 0px #eadeea;
  opacity: 0.5;
  filter: blur(80px);
  z-index: -1;
}

@media screen and (max-width: 830px) {
  .blob,
  .blob2 {
    display: none;
  }

  .container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .secondary {
    align-items: center;
    text-align: center;
  }

  .arch {
    margin-left: 10%;
    margin-top: 3%;
  }
  .visual {
    margin-bottom: 100px;
    margin-left: 0;
    margin-top: 10px;
  }

  .imgWrapper {
    top: 23%;
    left: 0;
  }
  .content {
    align-items: center;
    text-align: center;
  }

  .description {
    margin: 4% 5%;
  }
  .card {
    width: 400px;
  }

  .sticker {
    display: none;
  }
}
