.container{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 49px;
    z-index: 1;
    margin-left: 7%;
    margin-right: 7%;
    
}

.content{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color:white;
    z-index: 1;
    margin-bottom:90px;
    

}

.title{
    font-size: 72px;
    font-weight: 600;
    margin-bottom: 33px;
    color: #ffffff;

}

.description{
    font-size: 22px;
    margin-bottom: 42px;
    margin-right: 120px;
    
}

.btn{
    text-decoration: none;
    background-color: #433982;
    color: white;
    border-radius: 100px;
    font-size: 20px;
    font-weight: 300;
    padding: 17px 26px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
   
}

.heroImg {
    
    width: 70%;
    z-index: 4;
}  

@media screen and (max-width: 830px){
    .container {
        flex-direction: column-reverse;
      }
    

    .description{
        margin-right: 0;
    }
}

