/* ImageGrid.module.css */
.container{
    position:relative;
    align-items: center;
    z-index: 1;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 12%;
}

.title{
    margin-right: 3%;
    text-align: center;
    font-weight: 500;
    color:#433982;
}
.grid {
    margin: 3% 10%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates 2 columns */
    gap: 0.8rem; /* Adjust gap between images */
  }
  
  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Ensure the image does not overflow */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .image {
    height: 350px; /* Adjust height as needed */
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem; /* Adjust border radius as needed */
    transition: transform 0.3s ease-in-out;
}
  
.imageWrapper:hover .image {
    transform: scale(1.05); /* Slightly zoom in the image */
}

.imageWrapper:hover .titleOverlay {
    background: rgba(0, 0, 0, 0.6); /* Darker semi-transparent background on hover */
}
  .titleOverlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: flex-end;
    display: flex;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
    border-radius: 0.5rem; /* Same as image border-radius */
    padding: 0.5rem;

  }

  .eventName{
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: 1.25rem;
    color: white; 
    font-weight: 600;

  }