.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 15px; 
    background-color: white;
    width: 350px; /* Reduced width */
    height: 240px;
    z-index: 2;
    display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  }
  
  .icon {
    font-size: 35px;
    color: #433982;
    margin-bottom: 10px; 
    margin-left:7%;
    
  }
  
  .review {
    margin-left:7%;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
    color: #8B9AB0
  }
  
  .clientInfo {
    display: flex;
    align-items: center;
    background-color: #C5ADC5;; /* Different colored background */
    padding: 8px;
    border-radius: 0 0 8px 8px;
    color: white;
    padding-bottom:15px;
  }
  
  .clientImg {
    margin-left:7%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 12px;
    border: 1px solid black;
  }
  
  .clientName {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 1px;
  }
  
  .eventType {
    font-size: 12px;
    margin: 0;
  }
  