.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  background-color: white;
  width: clamp(300px, 28vw, 460px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon {
  font-size: clamp(28px, 3vw, 44px);
  color: #433982;
  margin-bottom: 10px;
  margin-left: 7%;
}

.review {
  margin: 0 5%;
  font-size: clamp(14px, 1.1vw, 19px);
  line-height: 1.5;
  margin-bottom: 16px;
  color: #8b9ab0;
}

.clientInfo {
  display: flex;
  align-items: center;
  background-color: #c5adc5;
  padding: clamp(6px, 0.8vw, 12px);
  border-radius: 0 0 8px 8px;
  color: white;
  padding-bottom: 15px;
}

.clientName {
  font-size: clamp(15px, 1.3vw, 22px);
  font-weight: bold;
  margin-bottom: 1px;
  margin-left: 8px;
}

.eventType {
  font-size: clamp(11px, 0.9vw, 15px);
  margin-left: 8px;
}

.testimonial {
  margin: 5% 10%;
  text-align: center;
}

.cards {
  margin-top: 3%;
  z-index: 2;
  display: flex;
  gap: clamp(16px, 2vw, 32px);
  padding: 13px;
  text-align: left;
  justify-content: center;
}

.cardTitle {
  color: #433982;
  font-weight: 500;
  font-size: clamp(24px, 2.5vw, 42px);
}

.highlight {
  font-family: "SantaCatalina", sans-serif;
  color: #c5adc5;
}

@media screen and (max-width: 830px) {
  .card {
    width: 375px;
  }

  .cards {
    gap: 24px;
    flex-direction: column;
    align-items: center;
  }

  .title,
  .cardTitle {
    font-size: 24px;
  }

  .testimonial {
    margin: 10%;
  }
}
