.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 7%;
  z-index: 10;
  font-family: "THICCCBOI";
}

.absolute {
  position: absolute;
}

.title {
  font-family: "SantaCatalina", sans-serif;
  font-size: clamp(26px, 2.5vw, 42px);
  font-weight: 600;
  text-decoration: none;
  color: white;
  padding-top: 61px;
}

.newTitle {
  color: #433982;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: clamp(30px, 3.5vw, 60px);
  list-style: none;
  padding-top: 61px;
}

.menuIcon {
  display: none;
  font-size: clamp(26px, 2.5vw, 36px);
  cursor: pointer;
  color: white;
  padding-top: 61px;
}

.newMenu {
  color: #433982;
}

.menuItems a {
  font-size: clamp(18px, 1.3vw, 24px);
  text-decoration: none;
  color: white;
}

.newMenuItems a {
  color: #433982;
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 1% 8%;
    z-index: 101;
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 5%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 101;
  }

  .title {
    padding-top: 48px;
  }

  .titleOpen {
    color: #433982;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
    left: 0;
    font-size: 30px;
    color: white;
  }

  .menuIconOpen {
    font-size: 36px;
    color: #433982;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    z-index: 99;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 100%;
    padding: 40px;
  }

  .menuItems a {
    font-size: 28px;
    color: #433982;
  }

  .menuOpen {
    display: flex;
  }
}
