.formContainer {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(24px, 3vw, 50px);
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  padding: clamp(24px, 3vw, 60px) clamp(16px, 2vw, 40px);
  background: linear-gradient(
    180deg,
    rgba(197, 173, 197, 1) 0%,
    rgba(178, 181, 223, 1) 100%
  );
}

.content {
  flex: 1 1 400px;
  max-width: clamp(280px, 25vw, 380px);
  margin: auto;
  text-align: center;
  position: relative;
}

.fieldContainer {
  flex: 1 1 400px;
  max-width: clamp(420px, 40vw, 650px);
  margin-right: clamp(20px, 4vw, 80px);
}

.formField {
  padding-bottom: 4px;
  text-align: left;
}

.formField label {
  display: block;
  margin: 6px 0px;
  font-weight: 600;
  color: white;
  font-size: clamp(13px, 1vw, 17px);
}

.formField input,
.formField select {
  width: 100%;
  padding: clamp(6px, 0.6vw, 10px) clamp(8px, 0.8vw, 14px);
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: clamp(13px, 1vw, 17px);
  background-color: white;
}

.formField textarea {
  width: 100%;
  padding: clamp(6px, 0.6vw, 10px) clamp(8px, 0.8vw, 14px);
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: clamp(13px, 1vw, 17px);
  resize: vertical;
  min-height: 70px;
  max-height: 35vh;
  background-color: white;
}

.formField ::placeholder {
  color: #ddd;
  font-size: clamp(12px, 0.9vw, 15px);
}

.error {
  color: red;
  font-size: clamp(11px, 0.8vw, 14px);
}

.submitButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  margin: 24px auto 0;
  width: fit-content;
  background-color: #433982;
  color: white;
  padding: clamp(8px, 0.8vw, 13px) clamp(14px, 1.2vw, 22px);
  border: none;
  border-radius: 100px;
  font-size: clamp(13px, 1vw, 18px);
  font-weight: 400;
  cursor: pointer;
}

.success {
  color: white;
  font-size: clamp(28px, 3vw, 48px);
  margin: auto;
}

.title {
  color: white;
  font-size: clamp(22px, 2vw, 36px);
  font-weight: 600;
  margin-bottom: 12px;
}

.description {
  color: white;
  font-size: clamp(14px, 1.1vw, 20px);
}

.sticker {
  position: absolute;
  left: clamp(180px, 18vw, 280px);
  top: -45px;
}

@media screen and (max-width: 830px) {
  .description {
    margin-top: 4px;
  }

  .submitButton {
    margin-top: 24px;
    display: flex;
    justify-content: center;
    margin: 24px auto 0;
  }

  .formContainer {
    margin-top: 20px;
  }

  .fieldContainer {
    margin-right: 0;
  }

  .content {
    margin-top: 10px;
  }

  .sticker {
    position: absolute;
    top: -25px;
    width: 45px;
    height: 45px;
  }
}
