.container{
    width: 100%;
    margin: 0;
    background: rgb(197,173,197);
    background: linear-gradient(180deg, rgba(197,173,197,1) 0%, rgba(178,181,223,1) 100%);
}

.arch {
    width: 450px;
    height: 600px;
    border-radius: 0 0 330px 330px; /* Creates a bottom circle with a top rectangle */
    z-index: 2;
    position: absolute;
    top:0;
    left: 60%;
    background: rgb(0,0,0);
background: linear-gradient(180deg, rgba(0,0,0,0) 5%, rgba(255,255,255,1) 80%);
  }
  