.page {
  width: 100%;
  margin: 0;
}

.container {
  margin: 2% 0;
}

.arches {
  display: flex;
  justify-content: space-between;
  margin: 4% 20%;
}

.title {
  text-align: center;
  font-size: clamp(24px, 2.5vw, 42px);
  color: #c5adc5;
  font-weight: 600;
}

a {
  text-decoration: none;
}

@media screen and (max-width: 830px) {
  .arches {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .title {
    margin: 25px 0;
    font-size: 36px;
  }
}
