.page{
    width: 100%;
    margin: 0;
}

.container{
    margin: 5% 0;
}

.arches{
    display: flex;
    justify-content: space-between; /* Ensures equal spacing between arches */
    gap: 16px; /* Adjust the gap as needed */
    margin: 2% 10% ;
   
}
.title{
    text-align: center;
    font-size: 3rem;
    
    color: #C5ADC5;
    text-decoration: none;
    margin-bottom: 10px;
    
}

a{
    text-decoration: none;
}

@media screen and (max-width: 830px){
   

    .arches{
        flex-direction: column;
        align-items: center;
        gap:20px;
    }
    .title{
        margin: 25px 0;
        font-size: 36px;
    }

    
  }